// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	
}

body {
	width: 80%;
	margin: auto;
}

.navbar {
	background-color: #FF944D;
	height: 10em;
}

#title {
	color: black;
	padding-top: 40px;
	padding-left: 10px;
	font-size: 30pt;
}

.nav li {
	display: inline;
}

.nav > li > a {
	float: right;;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 12pt;
}