// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
	background-color: #FF944D;
	height: 10em;
	border: solid;
}

#title {
	color: white;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 30pt;
}

#navlist {
	float: right;
	color: white;
}

.headerLinks {
  color: #fff;
  display: inline;
  padding-right: 10px;
}
