<header class="navbar">
    <div id="container-fluid">
	<h1 id="title">Bookmarks Application</h1>
           <nav>
               <ul class="nav">
                   <li><%= link_to 'New Bookmark', new_bookmark_path %></li>
                   <li><%= link_to "BookMark Listings",    root_path %></li>
               </ul>
           </nav>
    </div>
</header>
    